body {
	background-color: #34495e;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 80vh;
	margin: 0;
	overflow: hidden;
  }
  
  .figure-container {
  fill: transparent;
  stroke: #fff;
  stroke-width: 4px;
  stroke-linecap: round;
  position: absolute;
  margin-top: 100px;
  margin-right: 300px;
  }
  .figure-part {
  display: none;
  }
  
  .title {
      text-align: center;
  }
  
  .answerDiv{
    text-align: center;

  } 
  .dashes {
    margin: 0px 0px 0px 300px;
    position: relative;

  }
  .entryDash {
    font-size: 40px; 
    display: inline;

  }

  .wrongLettersContainer {
    width: 150px;
    margin: 150px 0px 0px 600px;
    font-weight: bold;
  }
  
  .wrongLetter {
    font-size: 35px;
    display: inline;
  }
  .rightLetters {
    display: inline;
    font-weight:bold ;
  }

  .checkWinStatus {
    display: none;
    margin: auto;
    width: 200px;
    background-color: #fff;
    color: black;

  }

  .checkLostStatus {
    display: none;
    margin: auto;
    width: 200px;
    background-color: #fff;
    color: black;

  }

  .btn {
    width: 90px;
    text-align: center;
    background-color:  #2f4a66;
    color: white;
    font-weight: bold;
    border-radius: 9%;
    margin: 150px 0px 0px 320px;
    padding: 5px;
    font-size: 18px;
  }
  